#$Id$
#{{ ansible_managed }}

Port 22
ListenAddress {{ ansible_ssh_host }}

LoginGraceTime 120
PermitRootLogin no

HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_dsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key

UsePrivilegeSeparation yes
StrictModes yes

PasswordAuthentication no
ChallengeResponseAuthentication no
PubkeyAuthentication yes
UsePAM yes

Subsystem sftp /usr/lib/openssh/sftp-server
